body {
	background: black;
	text-align: center;
	margin: 0;
}

#battle-area {
	display: inline-block;
	background: white;
	height: 600px;
	width: 600px;
	overflow: hidden;
}

#battle-area #status-container * {
	display: inline-block;
}

#battle-area .player-health {
	background: red;
	height: 30px;
	width: 200px;
}

#battle-area #battle-time {
	text-align: center;
	width: 50px;
}

#battle-area #battle-time p {
	line-height: 40px;
}

#battle-area .one {
	text-align: right;
}

#menus {
	display: inline-block;
	width: 150px;
}

.menu {
	background: DarkGray;
	padding: 10px 5px;
}

.menu-option {
	background: AliceBlue;
	padding: 7px;
	margin: 5px;
	border: 3px solid AliceBlue;
}

.menu-option.active {
	animation: activeMenuOption .2s steps(2, start) infinite;
}

.menu-option.selected {
	background: DarkGreen;
	color: White;
	border-color: DarkGreen;
	animation: 0;
}

#character-select {
	font-size: 0;
}

.character-option {
	display: inline-block;
	position: relative;
}

.character-option img {
	vertical-align: middle;
	border: 1px solid white;
	height: 90px;
}

.character-option .player-indicators-container {
	position: absolute;
	top: 0;
}

.character-option .player-indicators-container .player-indicators {
	position: relative;
}

.character-option .player-indicators p:not(.active):not(.selected) {
	opacity: 0;
}

.character-option .player-indicators p {
	position: absolute;
	font-size: 20px;
	font-weight: 700;
	line-height: 86px;
	width: 76px;
	border-style: solid;
	padding: 0 5px;
	margin: 0;
	border-width: 3px;
}

.character-option .player-indicators p.one {
	text-align: left;
}

.character-option .player-indicators p.one.active {
	animation: activeCharacterSelectOptionOne .2s steps(2, start) infinite;
}

.character-option .player-indicators p.one.selected {
	color: Gray;
	animation: 0;
}

.character-option .player-indicators p.two {
	text-align: right;
}

.character-option .player-indicators p.two.active {
	animation: activeCharacterSelectOptionTwo .2s steps(2, start) infinite;
}

.character-option .player-indicators p.two.selected {
	color: Gray;
	animation: 0;
}

#battle-start {
	display: inline-block;
	background: AliceBlue;
	padding: 7px;
	margin: 5px;
	border: 3px solid AliceBlue;
}

#battle-start.active {
	animation: activeMenuOption .2s steps(2, start) infinite;
}

#battle-start.selected {
	background: DarkGreen;
	color: White;
	border-color: DarkGreen;
	animation: 0;
}

.hide {
	display: none;
}

@keyframes activeMenuOption {
	from { border-color: DarkGreen; }
	to { border-color: LightGreen; }
}

@keyframes activeCharacterSelectOptionOne {
	from { color: DarkGreen; }
	to { color: LightGreen; }
}

@keyframes activeCharacterSelectOptionTwo {
	from { color: DarkRed; }
	to { color: #EE9090; }
}