body {
	background: black;
	text-align: center;
	font-family: monospace;
	margin: 0;
}

.hitbox {
	background: red;
	opacity: .5;
}

.hurtbox {
	background: blue;
	opacity: .5;
}

#development-menu-container {
}

#development-menu {
	display: inline-block;
	background: White;
	padding: 20px;
}

#development-menu h1 {
	margin-top: 0px;
}

#development-menu button {
	width: 100px;
	margin: 5px;
}

#overworld-container {
	text-align: center;
}

#overworld {
	position: relative;
	display: inline-block;
	background: White;
	height: 500px;
	width: 900px;
	overflow: hidden;
}

#battle-area-container {
	text-align: center;
}

#battle-area {
	position: relative;
	display: inline-block;
	background: White;
	height: 500px;
	width: 900px;
	overflow: hidden;
}

#battle-area #status-container {
	font-size: 0;
}

#battle-area #status-container * {
	display: inline-block;
	vertical-align: middle;
}

#battle-area .player-health {
	position: relative;
	background: Red;
	height: 20px;
	width: 350px;
	border: 1px solid Black;
}

#battle-area .player-health.one {
	border-right: 0;
}

#battle-area .player-health.two {
	border-left: 0;
}

#battle-area .player-health .player-name {
	position: absolute;
	font-size: 17px;
	font-weight: 900;
	color: White;
	margin: 0 5px;
	text-transform: uppercase;
}

#battle-area .player-health.one .player-name {
	left: 0;
}

#battle-area .player-health.two .player-name {
	right: 0;
}

#battle-area .player-health .health-meter {
	height: 100%;
	background: Blue;
}

#battle-area .player-health.one .health-meter {
	position: absolute;
	right: 0;
}

#battle-area .player-health.two .health-meter {
	position: absolute;
	left: 0;
}

#battle-area #battle-timer p {
	background: DarkRed;
	display: inline-block;
	color: white;
	line-height: 30px;
	font-weight: 900;
	font-size: 25px;
	padding: 0 5px;
	margin: 0;
	border: 1px solid Black;
}

#battle-area #battle-timer p.steady {
	background: Green;
}

#battle-area #battle-timer p.urgent {
	background: DarkRed;
}

#battle-area #battle-timer p.urgent {
	animation: urgentTimer .6s steps(1, start) infinite;
}

#battle-area #battle-objects * {
	position: absolute;
}

#battle-area #battle-objects .battle-character.left {
	transform: scaleX(-1);
}

#menus {
	display: inline-block;
}

.menu {
	display: inline-block;
	background: DarkGray;
	padding: 10px 5px;
}

.menu-option {
	background: AliceBlue;
	font-size: 20px;
	padding: 7px;
	margin: 5px;
	border: 3px solid AliceBlue;
}

.menu-option.active {
	animation: activeMenuOption .2s steps(2, start) infinite;
}

.menu-option.selected {
	background: DarkGreen;
	color: White;
	border-color: DarkGreen;
	animation: 0;
}

#character-select {
	font-size: 0;
}

.character-option {
	display: inline-block;
	position: relative;
}

.character-option img {
	vertical-align: middle;
	border: 1px solid white;
	height: 90px;
}

.character-option .player-indicators-container {
	position: absolute;
	top: 0;
}

.character-option .player-indicators-container .player-indicators {
	position: relative;
}

.character-option .player-indicators p:not(.active):not(.selected) {
	opacity: 0;
}

.character-option .player-indicators p {
	position: absolute;
	font-size: 20px;
	font-weight: 700;
	line-height: 86px;
	width: 76px;
	border-style: solid;
	padding: 0 5px;
	margin: 0;
	border-width: 3px;
}

.character-option .player-indicators p.one {
	text-align: left;
	z-index: 1;
}

.character-option .player-indicators p.one.active {
	animation: activeCharacterSelectOptionOne .2s steps(2, start) infinite;
}

.character-option .player-indicators p.one.selected {
	color: Gray;
	animation: 0;
}

.character-option .player-indicators p.two {
	text-align: right;
}

.character-option .player-indicators p.two.active {
	animation: activeCharacterSelectOptionTwo .2s steps(2, start) infinite;
}

.character-option .player-indicators p.two.selected {
	color: Gray;
	animation: 0;
}

#battle-start {
	display: inline-block;
	background: AliceBlue;
	padding: 7px;
	margin: 5px;
	border: 3px solid AliceBlue;
}

#battle-start.active {
	animation: activeMenuOption .2s steps(2, start) infinite;
}

#battle-start.selected {
	background: DarkGreen;
	color: White;
	border-color: DarkGreen;
	animation: 0;
}

.character-detail .character-detail-container {
	display: inline-block;
	text-align: left;
	font-size: 20px;
	width: 550px;
	background: white;
	padding: 1px;
}

.character-detail .character-detail-container * {
	vertical-align: top;
}

.character-detail .character-detail-container img {
	background: black;
	width: 115px;
	float: left;
	padding: 5px;
	margin-right: 10px;
	transform: scaleX(-1);
}

.hide {
	display: none;
}

@keyframes urgentTimer {
	75% { color: White; }
	100% { color: DarkRed; }
}

@keyframes activeMenuOption {
	from { border-color: DarkGreen; }
	to { border-color: LightGreen; }
}

@keyframes activeCharacterSelectOptionOne {
	from { color: DarkGreen; }
	to { color: LightGreen; }
}

@keyframes activeCharacterSelectOptionTwo {
	from { color: DarkRed; }
	to { color: #EE9090; }
}